/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
}

.hidden {
  display: none;
}

.search-form {
  margin-top: 36px;
  margin-bottom: 32px;
  width: 371px;
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  transition: border-color 300ms ease;
}

input:hover {
  border-color: #000;
}

input:focus-within {
  border-color: #4e75ff;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
  padding: 0;
  list-style: none;
  max-width: 1128px;
}

.gallery-item {
  position: relative;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.image-link {
  display: block;
  width: 100%;
}

.gallery-item img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 5px 20px;
  font-size: 12px;
  background-color: #fff;
  color: #2e2f42;
}

.info p {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  animation: spin 2s linear infinite;
  margin-top: 32px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

@media (max-width: 320px) {
  .search-form {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .gallery-item {
    width: 100%;
    height: auto;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .gallery-item {
    width: 100%;
    height: 200px;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .search-form {
    width: 100%;
    max-width: 600px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item {
    width: 360px;
    height: 200px;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1128px) {
  .gallery {
    max-width: 1128px;
    grid-template-columns: repeat(3, 1fr);
  }
}
